.envrc
.systemd-variables
.teslacoil-private-rsa.pem
logs/
coverage.out
coverage.html
.idea/dataSources.xml
.idea/teslacoil.iml
.idea/idea
.idea/saveactions_settings.xml

# Local node directories
.alice/
.bob/
node_0/
node_1/

# compiled binaries
tlc
tlc-dev
!tlc/
