.envrc
.systemd-variables
logs/
.idea/dataSources.xml
.idea/teslacoil.iml
.idea/idea
.idea/saveactions_settings.xml

# Local node directories
.alice/
.bob/
node_0/
node_1/

# compiled binaries
teslacoil
teslacoil-dev
!teslacoil/
TODO.md
